.header {
    background-color: #ffffff;
    margin: 0px;
    padding: 0px;
    margin-top: -21px;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border-color: #dddddd;
    box-sizing: border-box;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}


.about {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    height: 100%;
    width: 100%;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.buttons {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    text-align: right;
}

.container {}

.name {
    max-width: 175px;
    max-height: 50x;
    background-color: #4aaaa5;
    padding-top: 13px;
    padding-right: 13px;
    padding-left: 13px;
    padding-bottom: 1px;
}

body {
    margin: 0px;
    padding: 0px;
}







    {
    \rtf1
}